body {
 background-color: light-gray; 
 font-size: 16px;
 font-family: Arial;
}

/*Header*/
nav {
  display: flex;
  margin: auto;
  padding: 30px;
}

nav a {
  display: inline-block;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}

a:visited {
 color: black;
 text-decoration: none;
}
